h3{
    color: blue;
    font-size: 10rem;
    /* display: inline; */
}

*{
    /* background-color: white; */
    color: black;
    /* margin-left: 30px; */
    
}

footer{
    text-align: center;
}

.name{
    color: blue;
    font-style: italic;
}
h1 {
    font-size: 5rem;
  }

.container{
    display: inline-flex;
    margin-top: 100px;
    margin-left: 150px;
    align-items: center;
    align-content: center;
    gap: 15px;
    font-size: 2rem;
    
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(0, 0, 0, 0) 50%, rgb(253, 239, 239) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

/* .content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
} */

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.hero {
  position: relative;
  /* background: src('./pexels-shvetsa-4482891.jpg') center/cover no-repeat; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(255, 255, 255);  */
  /* Black color with 60% opacity */
  /* z-index: 1;  */
  /* Ensure the overlay is behind the content */
}

.hero-content {
  text-align: left;
  color: #fff;
  z-index: 2; /* Ensure the content is on top of the overlay */
  padding-left: 30px;
}

.hero-title {
  font-size: 3em;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
  /* color: white; */
}
/* 
.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease-in-out 0.5s;
} */

/* .hero-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #2980b9;
} */

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* about me */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.aboutcontainer{
    width: 100%;
    height: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 60px;
    padding: 35px 0;
    padding-left: 30px;
    
}
.contentLeft,
.contentRight{
    width: 100%;
}
.contentLeft .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.contentLeft .row .imgWrapper{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: 0.3s ease;
}
.contentLeft .row .imgWrapper:hover img{
    transform: scale(1.5);
}
.contentLeft .row .imgWrapper:nth-child(odd){
    transform: translateY(-20px);
}
.contentLeft .row .imgWrapper:nth-child(even){
    transform: translateY(20px);
}
.contentRight .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.contentRight .content h4{
    font-size: 22px;
    font-weight: 400;
    color: #d35400;
}
.contentRight .content h2{
    font-size: 40px;
    color: blue;
}
.contentRight .content p{
    /* font-size: 16px; */
    color: #343434;
    line-height: 28px;
    padding-bottom: 10px;
}
.contentRight .content a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 30px;
    color: #fff;
    background: #d35400;
    border-radius: 8px;
    user-select: none;
}
@media(max-width: 768px){
    .aboutcontainer{
        grid-template-columns: 1fr;
    }
    .contentLeft .row{
        grid-template-columns: repeat(2, 1fr);
    }
    .contentLeft .row .imgWrapper{
        height: 150px;
    }
    /* .contentRight .content h4{
        font-size: 18px;
    } */
    .contentRight .content h2{
        font-size: 30px;
    }
}

/* education */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"); */

education,
education::before,
education::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.education {
  /* --color: rgba(30, 30, 30); */
  --bgColor: rgba(245, 245, 245);
  /* min-height: 100vh;
  display: grid; 
  align-content: center;
  gap: 2rem; */
  padding: 2rem;
  /* font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}  */




.education h1 {
  text-align: center;
  color: blue;
  margin: 0 auto;
  max-width: 90%;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
}

ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
  
  
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
ul li .title,
ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* CSS reset */

roles,
roles::before,
roles::after {
  box-sizing: border-box;
}

roles {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.roles p,
.roles h1,
.roles h2,
.roles h3,
.roles h4,
.roles h5,
.roles h6 {
  overflow-wrap: break-word;
}

/* general styling */

.roles {
  /* Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

.roles {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: var(--Very-Dark-Blue);
  /* background-color: var(--Very-Light-Gray); */
}

section {
  max-width: 25rem;
  margin-top: 4rem;
}

.feature {
  position: relative;
  max-width: 21rem;
  height: 15rem;
  margin: 2rem auto;
  padding: 2em;
  border-radius: 0.75em;
  box-shadow: 5px 5px 20px rgba(0 0 0/0.15);
  text-align: left;
  transition: transform 200ms ease-in;
}

.feature:hover {
  transform: scale(1.03);
}

.feature__desc {
  margin-top: 0.5em;
  color: var(--Grayish-Blue);
}

.feature__img {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

/* separate styling */

.section__title {
  margin: 0 auto;
  max-width: 90%;
  font-size: 1.65rem;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
}

.section__title span {
  font-weight: 700;
}

.section__desc {
  max-width: 32ch;
  margin: 1rem auto 3rem;
  color: var(--Grayish-Blue);
  font-size: 1rem;
  text-align: center;
}

.feature-one {
  border-top: 5px solid var(--Cyan);
}

.feature-two {
  border-top: 5px solid var(--Red);
}

.feature-three {
  border-top: 5px solid var(--Orange);
}

.feature-four {
  border-top: 5px solid var(--Blue);
}

/* attribution styling */

.attribution {
  color: var(--Very-Dark-Blue);
  opacity: 0.7;
}

.attribution a {
  color: var(--Blue);
  text-decoration: underline;
}

.attribution a:hover {
  color: var(--Cyan);
}

/* media queries */

@media (min-width: 1000px) {
  body {
    align-items: center;
    min-height: 100vh;
  }

  section {
    max-width: 200rem;
  }

  .section__title {
    margin: 0 auto;
    max-width: 40%;
    font-size: 2rem;
  }

  .section__desc {
    max-width: 55ch;
    margin: 1rem auto 1rem;
  }

  .features {
    display: flex;
    gap: 2rem;
  }

  .feature-one {
    margin: auto 0;
  }

  .feature-four {
    margin: auto 0;
  }
}
.roleresp{
  color: blue;
}

/* skills */
.skills-section{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }
  
  
  .skills-section{
  padding-top: 20px;
  }
  
  .skills-header{
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
  }
  
  .skills-header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #2ecc71;
  border-radius: 2px;
  }
  
  .skills-container{
  display: grid;
  grid-tempLate-columns: repeat(5, 1fr);
  justify-content:center;
  align-items:center;
  text-align: center;
  grid-gap:1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  }
  .skills-box{
  padding: 1rem;
  color: #000;
  cursor:pointer;
  }
  .skills-box:hover > .skills-title: after, 
  .skills-box:hover > .skills-title: before{
  width: 30px;
  }
  .skills-box:hover .skills-img{
  transform: translateX(-20px);
  }
  
  .skills-title{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  }
  
  .skills-title:after{
  content: '';
  position:absolute;
  bottom: 0;
  right: 50%;
  width:20px;
  height:4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: .5s;
  }
  
  .skills-title:before{
  content: '';
  position:absolute;
  bottom: 0;
  left: 50%;
  width:100px;
  height:4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  }
  
  .skills-icons{
  width:50px;
  z-index:2;
  }
  
  .skills-img{
  width:90px;
  height:90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: .5s;
  }
  
  .skills-img:after{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  width:50%;
  height:90px;
  background: rgba(18, 209, 235, 0.993);
  border-radius: 45px 0 0 45px;
  }
  .skills-title h3{
  color: #333;
  margin-top: 0.5rem;
  }
  @media screen and (max-width:990px){
   .skills-container{
   grid-tempLate-columns: repeat(2, 1fr);
   padding: 2rem 50px;
   }
  }
  
  @media screen and (max-width:650px){
   .skills-container{
   grid-tempLate-columns:2fr;
   padding: 2rem 50px;
   }
  }

  /* contact */

  @import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
} */

.contact {
  display: flex;
  flex-direction: column; 
  position: relative;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  /* background: linear-gradient(to bottom right, rgba(0,0,0, 0.9), rgba(36,11,54, 0.8), rgba(195,20,50,0.9)), url("https://i.imgur.com/3vacZxN.jpg") center no-repeat;
  background-size: cover; */
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}

#co-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#co-text {
  font-size: 3rem;
  color: white;
  padding-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(0,0,0,0.6);
  margin-bottom: 10rem;
}

.contact-form {
  font-family: "Montserrat", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

.form-field {
  outline: none;
  width: 200%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: .9rem;
}

#name, #email, #subject, #message {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: .6rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}

textarea, #message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200%;
  height: 60px;
  background-color: #c31432;
  cursor: pointer;
  transition: all .3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(0,0,0,0.3);
}

.contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
}

.contact-info a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all .3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: aliceblue;
  cursor: pointer;
  transition: all .3s ease;
}

.fab:hover{
  transform: scale(1.2);
  color: #999;
}


@media screen and (max-width: 960px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    width: 100%;
  }
  
  #form-btn {
    width: 100%;
  }
  
  #form-title {
    margin: 3rem auto;
  }
  
  .contact-header{
    margin: 5rem 5rem 3rem 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 960px) {
  .form-field {
    width: 125%;
  }
  
  #form-title {
    margin: 3rem auto;
  }
  
  #form-btn {
    width: 125%;
  }
  
  .contact-header{
    margin: 7rem 7rem 3rem 7rem;
  }
  
  .contact-info {
    padding: 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1460px) {
  .form-field {
    width: 200%;
  }
  
  #form-btn {
    width: 200%;
  }
}